.row
  .span5.offset2
    %section#description
      =image_tag "header.png"
      %h1 ~ ButtonGluttons ~

    %section#description
      .page-header
        %h2 What is ButtonGluttons?

      %p 
        ButtonGluttons is a social game experience for codepaLOUsa brought to you by 
        <a href="http://www.cafepress.com">CafePress.com</a>. 
        Playing increases your chances of winning a grand prize drawing give away.
      %p 
        You're automatically entered to win just by registering. Your buttons are actually 
        raffle tickets for the drawing.

    %section#todo
      .page-header 
        %h2 How to Play
      %ol
        %li
          %h4 Register
          %p 
            All we want is your name and email address. We wont spam you, 
            but will send your game stats.

        %li
          %h4 Gameplay
          %ul
            %li You may roll for a weapon 3 times
            %li Only your most current roll counts
            %li Whoever has the better weapon, wins
            %li Take one of their buttons to shame them and show your button gluttony
            %li Play until you have no more badges
            %li Profit!

        %li
          %h4 Bosses - CafePress Employees
          %ul
            %li Count for 2 buttons
            %li Have scarce buttons

  .span3
    %ul.unstyled
      %li
        %h3 Is this real life?
        %ul.unstyled
          %li 
            %a{:href => "leaderboard"}ZOMG LEADERBOARD!
          %li 
            %a{:href => "http://twitter.com/buttongluttons"}WTF Twitter Feed
          %li 
            %a{:href => "rules"}Rules
          %li
            %a{:href => "http://cafepressinc.com/careers/"}Need a job?
      %li
        #juitterContainer
