.pull-right
  =gravatar_image_tag(@player.email_address)

.page-header
  %h1
    =@player.full_name
  %h2
    (#{@player.email_address})

.page-header
  %h1
    %table.table.table-bordered
      %tr
        %td Wins:
        %td #{@player.wins}
      %tr
        %td Losses:
        %td #{@player.losses}


= link_to 'Edit Your Info', edit_player_path(@player), :class => "btn btn-large btn-primary"
